:root {
  --color-bg-primary: #dbe9ee;
  --color-bg-secondary: #FFFFFF;
  --color-accent: #2E7D32;
  --color-accent-text: #1B5E20;
  --color-text-primary: #1D2A4D;
  --color-text-secondary: #4A5568;
  --color-text-tertiary: #4A5568;
  --font-sans: 'Inter', sans-serif;
  --font-title: 'Montserrat', sans-serif;
}